@import "tailwindcss";


.box{
    width: 300px;
    border: 4px solid gray;
    background-color: crimson;
    margin-block: 20px;
    text-align: center;
    color: #fff;
    padding-block: 20px;
    margin-inline: auto;
    transition: all 3s ease-out;
}
.box:hover{
    transform: scale(1.5);
    /* transition: all 3s ease-out; */
}